* {
  box-sizing: border-box;
}

body {
  line-height: 1.4;
  margin: .5rem 1rem;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3rem;
}

p {
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
  /* needed to replace blue/purple link color */
  color: inherit;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0.625rem;
  font-weight: 700;
  line-height: 1.1;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 96%;
  margin: 0 auto;
}

section {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  border-radius: .5rem;
  box-shadow: .25rem .25rem 1rem rgba(0, 0, 0, 0.15);
  padding: 2rem 1.5rem 1.25rem 1.5rem;
  /* on mobile set width of section to 100% of body */
  width: 100%;
  max-width: 768px;
  text-align: center;
}

section .heading {
  margin-bottom: 1.5rem;
}

section .desc {
  margin-bottom: 1.5rem;
}

.timer {
  float: right;
}

.hidden {
  display: none;
}

/* override bootstrap alert to reduce margin/padding to align better in header */
.alert {
  margin-bottom: 0;
  padding: .5rem .75rem;
}

.choices {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  /* left justify choice buttons */
  align-self: flex-start;
}

.choices button {
  margin: .25rem;
}